@import "../styles/_media-queries.scss";
@import "../styles/colors.scss";

.layout-container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  min-height: 100vh;
  max-width: 100%;
  background: $medBlueTint;
}

.content {
  flex-grow: 1;
  padding: 0 2rem;
  margin-bottom: 1rem;
}

// applies only when viewed on mobile device
@media only screen and (max-width: 768px) {
  .open {
    position: fixed;
    overflow: hidden;
    width: 100%;
    min-height: 100vh;
  }
}
