@import "../styles/colors.scss";

.mobile-nav-wrapper {
  z-index: 1;
  width: 100vw;
  display: flex;
  flex-direction: column;
  background-color: $medBlueTint;
  align-items: center;
  justify-content: center;
  position: fixed;
  // animate nav opening details start
  opacity: 0;
  visibility: hidden;
  height: 0%;
  transition: opacity 0.75s, visibility 0.75s, height 0.75s;
  overflow: hidden;
  left: 0;
  &.open {
    // animate nav opening details end
    opacity: 1;
    visibility: visible;
    height: 100vh;
  }
}

.mobile-link {
  width: 100%;
  text-align: center;
  text-decoration: none;
  font-size: 2rem;
  color: #666;
  font-weight: 600;
  padding: 2rem 0.5rem;
  border-radius: 3px;
  margin: 0.5rem 0.5rem;
  &.active {
    color: #333;
    background-color: white;
    border-radius: 5px;
    width: 90%;
  }
}

// .mobile-link-active {
//   color: #333;
//   background-color: white;
//   border-radius: 5px;
//   width: 90%;
// }
